export const MAP_MODE = 'country'; // 'country' | 'city'
export const MAP_SCOPE = 'world'; // 'world' | 'france'
export const ABLY_API_KEY = 'STxmvA.oGxD2A:aJBJEOvcgcHi0uPX5SpTpTEMI0Jf-K4Ccw08Y5Id4dU';
export const ABLY_ROOM = 'roomname';

