export const MAP_MODE = 'country'; // 'country' | 'city'
export const MAP_SCOPE = 'world'; // 'world' | 'france'
export const ABLY_API_KEY = 'yourfreeablykeyhere';
export const ABLY_ROOM = 'roomname';

